*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
}
.navBar{
    width: 100%;
    height: 50px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    
    
}
.navList{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    
    

}
.logo img{
    width: 100%;
    height: 100%;
}
.mainContent{
    height: 50%;
    width: 100%;
    
    

    
}
.backgroundImg{
    background-image: url("https://images-platform.99static.com//581r8n_1zh7ChyOQu_NppM0nXaY=/0x1389:1389x2778/fit-in/590x590/99designs-contests-attachments/94/94409/attachment_94409090");
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 200px;
    background-size: contain;
    color: white;
    background-repeat: no-repeat;
    justify-content: center;
    margin-top: 0;
    
}
.imgsection{
    height: 70%;
    width: 100%;
    display: flex;
    

    
    
}
.imgsection img{
    width: 20%;
    height: 40%;
}

.paragraph-1{
 margin-left: 20px;
 display: flex;
 flex-direction: column;
 gap: 5px;
 

 

    
}


