*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
}
.navBar{
    width: 100%;
    height: 50px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    
    
}
.navList{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    
    

}
.logo img{
    width: 100%;
    height: 100%;
}
    